body {
	background-color: #F1F1F1;
	font-family: 'Raleway', sans-serif;
}

.sidebar{
	width: 452px;
	position: fixed;
	left: 0px;
	top: 0;
	background-color: #fff;
	min-height: 800px;
	padding: 15px;
}
.sidebar h3, .sidebar p, .sidebar img {
	margin-left: 18px;
}


#my-bg .my-icon{
	padding: 0 0 10px 25px;
	margin: 0;
	font-family: inherit;
	font-weight: normal;
	font-size: 14px;
}
#my-bg li:hover{
	background-color: #ccc;

}
#my-bg .first-action{
	color: #009688;
}
.login-icon {
	padding: 0 0 0 10px;
	font-size:20px;
}
 .fa-facebook-official, .fa-instagram, .fa-twitter, .fa-snapchat-square, .fa-pinterest-p, .fa-linkedin{
 	margin-left: 12px;
 	cursor: pointer;
 }
.fa-facebook-official:hover{
 	color: #3F51B5;
 }
.fa-instagram:hover{
 	color: #B127B0;
 }
.fa-twitter:hover{
 	color: #87CEEB;
 }
 .fa-snapchat-square:hover{
 	color: #DED26F;
 }
 .fa-pinterest-p:hover{
 	color: #F77736;
 }
.fa-linkedin:hover{
 	color: #3F51B5;
 }
 #section-2 .label-black, .grey-bg{	
 	background-color: #000;
 	padding: 10px 15px;
 	font-size: 15px;
 	font-weight: normal;
 	border-radius: 0;	
 	margin-left: 10px;
 }
 #section-2 h1{
 	margin-bottom: 50px;
 }
 .grey-bg {
 	background-color: #fff;
 	color: #000;
 }

 .label-black:hover,.grey-bg:hover{
 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);;
 	transition: 0.1s;
 }
 .filter {
 	border-bottom: 2px solid #ccc;
 	height: 50px;
 	padding: 0;
 	margin:0;
 	margin-bottom: 20px;
 }
 .header{
 	margin: 0 15px 0 15px;
 }
 #thumb p,  #thumb .thumbnail{
 	margin:0;
 	padding: 0;
  	margin-bottom: 30px;
 }
 #thumb .thumbnail{	
 	box-shadow: 1px 2px 12px hsla(238, 1%, 60%, 1);
 	
 }

 #my-nav li a {
 	border-radius: 0;
 	border:0;
 	background-color: #F1F1F1;
 }

  #my-nav .active  a{
  	background-color: #000;
  }
  #my-nav li a:hover{
  	background-color: #000;
  	color: #fff;
  }
  .hover-opacity > img:hover{
  	opacity: 0.5;
  }
  .image-section,  #my-progress {
  	margin-bottom: 25px;
  }

  #my-progress .progress-bar,  #my-progress .btn-default, {
  	background-color: #616161;
  	color: #fff;

 
  }
 #my-progress .progress{
  	border-radius: 0;
  	background-color: #9E9E9E;
  }
  .contact-me {
  	padding: 25px;
  	min-height: 430px;
  	color: #000;
  	margin-bottom: 25px;

  }
  .contact-me h4{
  	margin-bottom: 25px;
  		font-size: 25px;
  		font-family: inherit;

  }
  .email, .city, .contact{
  	width: 261px;
  	height: 100px;
  	float: left;
  	background-color: #616161;
  	text-align: center;
  	color: #fff;
  	padding-top: 22px;
  	font-size: 20px;
  	margin-bottom: 25px;
  	margin-top: 15px;


  }
  .contact-me .btn-default{
  	background-color: #000;
  	width: 150px;
  	height: 50px;
  	color: #fff;
  }
  .city{
  	
  	background-color: #009688;
  }
  #footer{
  	padding: 25px;
  }
  .footer-content{
  	width: 261px;
  	height: 200px;
  	margin-left: 10px;
  	float: left;
  	color: #fff;
  	text-align: left;
  	padding: 5PX;
  }
  .footer-content .label{
  	background-color: #9E9E9E;
  	color: #000;
  	border-radius: 0;
 
  }
